html, body {
    box-sizing: border-box;
    height: 100%; /* Cambia a 100% */
    margin: 0;
    padding: 0;
    overflow-x: auto;
    background-color: #FFFFFF; /* FFFFFF */
    color: #946FB0; /* 946FB0 */
    font-family: sans-serif;
}

#contenedor-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; /* Cambia a 100% */
    max-width: 390px;
    box-sizing: border-box;
    margin: auto;
}


#selector-consultorio, #calendario {
    width: 100%;
    box-sizing: border-box;
}

#selector-consultorio {
    margin: 10px 0; /* Añade un margen superior e inferior de 10px y elimina el margen izquierdo y derecho */
    text-align: center; /* Centra el texto del selector */
    font-size: 16px; /* Reduce el tamaño del texto */
}

#selector-consultorio select {
    width: 72%; /* Ocupa todo el ancho del contenedor */
    background-color: #ABF3CD; /* ABF3CD */
    color: #000000; /* 58D7DC */
    border: none; /* Elimina el borde */
    padding: 10px; /* Añade un poco de padding para un mejor aspecto */
    font-size: 16px; /* Reduce el tamaño del texto */
}

#selector-consultorio button {
    margin-left: 10px; /* Añade un margen a la izquierda para separarlo del select */
    padding: 10px; /* Añade un poco de padding para un mejor aspecto */
    background-color: #ABF3CD; /* ABF3CD */
    color: #000000; /* 58D7DC */
    border: none; /* Elimina el borde */
    font-size: 16px; /* Reduce el tamaño del texto */
    cursor: pointer; /* Cambia el cursor a un puntero cuando se pasa por encima */
    transition: background-color 0.3s ease; /* Añade una transición suave al cambiar el color de fondo */
}

#selector-consultorio button:hover {
    background-color: #946FB0; /* 946FB0 */
    color: #FFFFFF; /* FFFFFF */
}

#calendario {
    max-width: 100%; /* Anchura máxima igual a la de un iPhone XR */
    height: 100%; /* Ajusta la altura al 100% de la ventana de visualización */
    max-height: 896px; /* Altura máxima igual a la de un iPhone XR */
    margin-bottom: 12px;
}

#calendario .hora {
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho y la altura */
    display: flex;
    flex-direction: row; /* Los 'días' se mostrarán horizontalmente */
    height: calc(100% / 15); /* Divide el alto total entre el número de horas */
}

#calendario .dia, #calendario .tiempo {
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho y la altura */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px; /* Reduce el ancho */
    height: 100%; /* Cada 'dia' y 'tiempo' ocupará todo el alto disponible */
    background-color: #ABF3CD; /* ABF3CD */
    color: #000000; /* 58D7DC */
    border: 1px solid #BBBAFD; /* BBBAFD */
    font-size: 16px; /* Reduce el tamaño del texto */
}

#calendario .dia {
    background-color: rgba(0, 0, 0, 0); /* Cambia a tu color preferido */
}

#calendario .dia-ocupado {
    background-color: #CCAFCF; /* 946FB0 */
}

#calendario .dia-ocupado-pagado {
    background-color: #946FB0; /* 946FB0 */
}

@media screen and (min-width:992px) {
    #contenedor-principal {
        max-width: 600px; /* Aumenta el ancho máximo para pantallas más grandes */
    }
}