html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    background-color: #FFFFFF;
    color: #946FB0;
    font-family: sans-serif;
    backdrop-filter: blur(10px); /* Añade el efecto de desenfoque */
}

#contenedor-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 390px;
    box-sizing: border-box;
    margin: auto;
    background: rgba(255, 255, 255, 0.1); /* Añade transparencia */
    border-radius: 10px; /* Añade bordes redondeados */
    backdrop-filter: blur(10px); /* Añade el efecto de desenfoque */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Añade un borde */
}



#selector-consultorio, #calendario {
    width: 100%;
    box-sizing: border-box;
}

#selector-consultorio {
    margin: 10px 0; /* Añade un margen superior e inferior de 10px y elimina el margen izquierdo y derecho */
    text-align: center; /* Centra el texto del selector */
    font-size: 16px; /* Reduce el tamaño del texto */
}

#selector-consultorio select {
    width: 72%;
    background-color: rgba(171, 243, 205, 0.1); /* Añade transparencia */
    color: #000000;
    border: none;
    padding: 10px;
    font-size: 16px;
    backdrop-filter: blur(10px); /* Añade el efecto de desenfoque */
    border: 1px solid rgba(0, 0, 0, 0.2); /* Añade un borde */
    border-radius: 10px; /* Añade bordes redondeados */
}

#calendario {
    max-width: 100%; /* Anchura máxima igual a la de un iPhone XR */
    height: 100%; /* Ajusta la altura al 100% de la ventana de visualización */
    max-height: 896px; /* Altura máxima igual a la de un iPhone XR */
    margin-bottom: 12px;
}

#calendario .hora {
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho y la altura */
    display: flex;
    flex-direction: row; /* Los 'días' se mostrarán horizontalmente */
    height: calc(100% / 15); /* Divide el alto total entre el número de horas */
}

#calendario .dia, #calendario .tiempo {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 100%;
    background-color: rgba(171, 243, 205, 0.1); /* Añade transparencia */
    color: #000000;
    border:1px solid rgba(187, 186, 253, 0.2); /* Añade un borde */
    font-size: 14px;
    backdrop-filter: blur(10px); /* Añade el efecto de desenfoque */
    border-radius: 10px; /* Añade bordes redondeados */
}

#calendario .dia {
    background-color: rgba(0, 0, 0, 0); /* Cambia a tu color preferido */
}

#calendario .dia-ocupado1 {
    background-color: #f39bff87; /* 946FB0 */
}

.star {
    position: absolute;
    background-color: #000000;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    animation: moveStar 10s linear infinite;
}

@keyframes moveStar {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-100vh); }
}


/* ############ LAPTOP ########## */

@media screen and (min-width:992px) {
    #contenedor-principal {
        max-width: 600px; /* Aumenta el ancho máximo para pantallas más grandes */
    }
}