::-webkit-scrollbar {
    background-color: #ABF3CD; /* ABF3CD */
    width:16px
}

::-webkit-scrollbar-thumb {
    height:56px;
    border-radius:8px;
    border:4px solid transparent;
    background-clip:content-box;
    background-color: #58D7DC; /* 58D7DC */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #BBBAFD; /* BBBAFD */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

body {
    background-color: #FFFFFF;
    color: #946FB0;
    font-family: sans-serif;
    backdrop-filter: blur(10px);
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

#home #title {
    color: #946FB0; /* 946FB0 */
    font-size: 40px;
    text-align: center;
    padding: 5vh 0;
    animation: move linear 2s infinite;
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 330px;
    background: rgba(255, 255, 255, 0.1);
    color: #946FB0;
    box-sizing: border-box;
    padding: 70px 30px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.login-box .avatar {
    width: 200px;
    height: 200px;
}

#form {
    margin-top: 10px;
}

.login-box h1 {
    margin: 0;
    padding: 0px 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box label {
    color: #946FB0; /* 946FB0 */
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #ABF3CD;
    color: #58D7DC;
    background: rgba(255, 255, 255, 0.1);
    outline: none;
    height: 40px;
    font-size: 16px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: linear-gradient(
        45deg,
        #ABF3CD, /* ABF3CD */
        #58D7DC, /* 58D7DC */
        #BBBAFD, /* BBBAFD */
        #946FB0  /* 946FB0 */
    );
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 20px;
    transition: 0.5s;
}

.login-box input[type="submit"]:hover {
    cursor: pointer;
    transform: scale(1.05);
    color: #000;
}

.star {
    position: absolute;
    background-color: #000000;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    animation: moveStar 10s linear infinite;
}

@keyframes moveStar {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-100vh); }
}


/* ############ LAPTOP ########## */

/* @media screen and (min-width:992px) {
    #home #title {
        font-size: 75px;
        margin-top: 8vh;
    }

    #agregar {
        margin-bottom: 3vh;
    }
    
    .login-box {
        top: 68%;
    }
} */