::-webkit-scrollbar {
    width:16px
}

::-webkit-scrollbar-thumb {
    height:56px;
    border-radius:8px;
    border:4px solid transparent;
    background-clip:content-box;
    background-color:#484e51
}

::-webkit-scrollbar-thumb:hover {
    background-color:#555c60
}

html, body {
    box-sizing: border-box;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #FFFFFF;
    color: #946FB0;
    font-family: sans-serif;
    backdrop-filter: blur(2px); /* Añade el efecto de desenfoque */
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#contenedor-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 390px;
    box-sizing: border-box;
    margin: auto;
    background: rgba(255, 255, 255, 0.1); /* Añade transparencia */
    border-radius: 10px; /* Añade bordes redondeados */
    backdrop-filter: blur(2px); /* Añade el efecto de desenfoque */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Añade un borde */
}

#selector-consultorio, #calendario {
    width: 100%;
    box-sizing: border-box;
}

#selector-consultorio {
    margin: 10px 0; /* Añade un margen superior e inferior de 10px y elimina el margen izquierdo y derecho */
    text-align: center; /* Centra el texto del selector */
    font-size: 16px; /* Reduce el tamaño del texto */
}

#selector-consultorio select {
    width: 72%;
    background-color: rgba(171, 243, 205, 0.1); /* Añade transparencia */
    color: #000000;
    border: none;
    padding: 10px;
    font-size: 16px;
    backdrop-filter: blur(2px); /* Añade el efecto de desenfoque */
    border: 1px solid rgba(0, 0, 0, 0.2); /* Añade un borde */
    border-radius: 10px; /* Añade bordes redondeados */
}

#selector-consultorio button {
    margin-left: 2px;
    padding: 10px;
    background-color: rgba(171, 243, 205, 0.1); /* Añade transparencia */
    color: #000000;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    backdrop-filter: blur(2px);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#selector-consultorio button:hover {
    background-color: #946FB0; /* 946FB0 */
    color: #FFFFFF; /* FFFFFF */
}

#calendario {
    max-width: 100%; /* Anchura máxima igual a la de un iPhone XR */
    height: 100%; /* Ajusta la altura al 100% de la ventana de visualización */
    max-height: 896px; /* Altura máxima igual a la de un iPhone XR */
    margin-bottom: 12px;
}

#calendario .hora {
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho y la altura */
    display: flex;
    flex-direction: row; /* Los 'días' se mostrarán horizontalmente */
    height: calc(100% / 15); /* Divide el alto total entre el número de horas */
}

#calendario .dia, #calendario .tiempo {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 100%;
    background-color: rgba(171, 243, 205, 0.1); /* Añade transparencia */
    color: #000000;
    border: 1px solid rgba(187, 186, 253, 0.2); /* Añade un borde */
    font-size: 14px;
    backdrop-filter: blur(2px); /* Añade el efecto de desenfoque */
    border-radius: 10px; /* Añade bordes redondeados */
}

#calendario .dia {
    background-color: rgba(0, 0, 0, 0); /* Cambia a tu color preferido */
}

#calendario .dia-ocupado1 {
    background-color: #f39bff87; /* 946FB0 */
}

#calendario .dia-ocupado2 {
    background-color: #392fff87; /* 946FB0 */
}

#calendario .dia-ocupado3 {
    background-color: #42cdff87; /* 946FB0 */
}

#calendario .dia-ocupado4 {
    background-color: #42ff4e87; /* 946FB0 */
}

#calendario .dia-ocupado5 {
    background-color: #edff4287; /* 946FB0 */
}

a {
    text-decoration: none;
}

/* Estilos responsivos para pantallas más grandes */
@media screen and (min-width: 992px) {
    #contenedor-principal {
        max-width: 600px; /* Aumenta el ancho máximo para pantallas más grandes */
    }
}
