# Establecer index.php como documento por defecto
DirectoryIndex index.php

# Deshabilitar listado de directorios
Options -Indexes

# Desactivar completamente el motor de reescritura para evitar cualquier redirección
# RewriteEngine Off
